@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-light-bg text-light-text dark:bg-dark-bg dark:text-dark-text;
  }
}

html {
  scroll-behavior: smooth;
}
